@use './variables.scss' as *;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html{
  scroll-behavior: smooth;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong{
  font-weight: 400;
}



//BUTTONS

.button{
	background-color: $brown;
	color: $white;
  font-family: $aktiv;
	text-transform: uppercase;
	font-weight: 200;
	font-size: 1rem;
	letter-spacing: 0px;
	padding: 8px 8px 6px 8px;
	display: flex;
	width: 160px;
	justify-content: space-between;
	align-items: center;
	transition:  0.3s ease-in-out;

	&:hover{
		background-color: $beige;
	} &:hover .button__arrow{
		rotate: 45deg;
		transition:  0.3s ease-in-out;
	}

	span{
		margin-top: 3px;
		font-family: $aktiv;
		font-weight: 200;
	}

	.button__arrow{
		height: 16px;
		transition:  2s ease-in-out;
	}
}



//HEADER

.header__master{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 20px;

  .header__logo{
    width: 250px;

    @include media600px {
      width: 40vw;
		}
  }

  .header__nav{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 3rem;

     @include media900px {
      display: none;
		}

    a{
      font-family: $aktiv;
      color: $brown;
      font-size: 0.9rem;
      font-weight: 200;
      letter-spacing: 0px;
      transition:  0.3s ease-in-out;

      &:hover{
        letter-spacing: 1px;
        transition:  0.3s ease-in-out;
      }
    }
  }
}

.header__mobile{
  display: none;
  width: auto;

    @include media900px {
      display: flex;
		}

  .header__instagram{
    width: 35px;
    height: 35px;
    margin-right: 30px;
    margin-top: -2px;
  }

}








//FOOTER

//FOOTER

.footer__master {
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 200px;
  padding-bottom: 30px;
  text-align: center;
  background-color: transparent;
  color: inherit;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.footer__links {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5vw;
  padding: 0;
  margin: 0;

  			@include media500px {
			justify-content: space-between;
			}

  li {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: $aktiv;
    font-weight: 300;

    a {
      color: $brown;
      text-decoration: none;

      &:hover {
        color: $beige;
      }
    }
  }
}











//HERO

.hero__master{
  margin-top: 30px;
  padding-left: 3vw;
  padding-right: 3vw;
  max-width: 100vw;
  position: relative;


  .hero__video_desktop{
    width: 100%;
    height: auto;
    max-height: 800px;
    object-fit: cover;
    max-height: 70vh;

    @include media900px {
			display: none;
		}
  }

  .hero__video_mobile{
    display: none;
    max-height: 70vh;
    object-fit: cover;

    @include media900px {
      display: block;
			width: 100%;
    height: auto;
		}
  }

  .button{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


// INFO

.info__master {
  padding-left: 3vw;
  padding-right: 3vw;
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;

  @include media900px {
    display: block;
  }

  .info__title {
    h1 {
      font-family: $aktiv;
      color: $brown;
      font-size: 3.5rem;
      letter-spacing: -4px;
      font-weight: 200;
      max-width: 50vw;
      width: 600px;
      text-transform: uppercase;
      margin-bottom: 3rem;

        @include media900px {
          width: 90%;
          max-width: 100%;
        }

        @include media500px {
          font-size: 2.5rem;
          letter-spacing: -3px;
          line-height: 3rem;
        }
    }

    .button {
      margin-bottom: 10px;
    }

    .buttons > :nth-child(2) {
      background-color: $beige;

      &:hover {
        background-color: $brown;
      }
    }
  }

  p {
    font-family: $aktiv;
    color: $brown;
    font-size: 0.9rem;
    letter-spacing: -0.5px;
    font-weight: 200;
    line-height: 1.2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: justify;
    max-width: 50vw;
    width: 400px;

    &:first-child {
      @include media900px {
        margin-top: 50px;
      }
    }

      @include media900px {
      width: 100%;
      max-width: 100%;
    }


  }
}







//DATOS

.datos__master{
  display: flex;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-top: 200px;
  justify-content: space-between;
    max-width: 1400px;
  margin-left: auto;
  margin-right: auto;

        @include media700px {
        display: block;
        margin-top: 80px;
      }

  .datos__portada{
    max-width: 48vw;
    max-height: 60vh;
    object-fit: cover;
    height: 550px;
    width: 48vw;

      @include media900px {
        height: 1000px;
      }

      @include media700px {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 30vh;
      }
  }

  .datos__content{

    text-align: right;

    h2{
      text-align: right;
      font-family: $aktiv;
      color: $brown;
      font-size: 2.5rem;
      letter-spacing: -3px;
      font-weight: 200;
      text-transform: uppercase;
      margin-bottom: 3rem;
      line-height: 3rem;

      @include media700px {
        margin-top: 50px;
      }

      @include media500px {
        margin-bottom: 1rem;
      }
    }

      .datos__map{
    display: flex;

     @include media900px {
      display: block;
      text-align: right;
    }

    @include media700px {
      display: flex;
       justify-content: space-between;
     }
    
    @include media500px {
        display: block;
        margin-bottom: 1rem;
      }

      .map{
        width: 200px;
        height: 200px;

      @include media900px {
        margin-bottom: 20px;
      }
      }
    }

  .datos__list{

    max-width: 250px;
    overflow: hidden;
    padding-top: 5px;
    transition: 2s ease-in-out;

      &.reducido {
    max-height: 400px;
    transition: 2s ease-in-out;
      }

      &.abierto {
        max-height: 2000px; 
        transition: 2s ease-in-out;
      }

      @include media700px {
        max-width: 48vw;
      }

      @include media700px {
        max-width: 100%;
      }


    .datos__bold, .datos__normal{
      text-align: right;
      font-family: $aktiv;
      color: $brown;
      font-size: 0.9rem;
      letter-spacing: -0.5px;
      font-weight: 200;
      text-transform: uppercase;
    }

    .datos__bold{
      font-weight: 500;
      margin-bottom: 2px;
    }

    dd{
      margin-bottom: 12px;
    }
  }

  .datos__vermas{
    text-align: right;
    font-family: $aktiv;
    text-transform: uppercase;
    background-color: $beige;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 30px;
    transition:  0.3s ease-in-out;
    color: $brown;

    &:hover{
      background-color: $brown;
      transition:  0.3s ease-in-out;
      color: $white;
    }
  }
  }


}






//INSTAGRAM

.instagram__master{

  padding-left: 3vw;
  padding-right: 3vw;
  margin-top: 200px;

  h2{
      text-align: left;
      font-family: $aktiv;
      color: $brown;
      font-size: 2.5rem;
      letter-spacing: -3px;
      font-weight: 200;
      text-transform: uppercase;
      margin-bottom: 3rem;
      line-height: 3rem;
      margin-top: 60px;
      
  }

}



//CALENDLY

.reservas__master{
  padding-left: 3vw;
  padding-right: 3vw;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;

    @include media900px {
      display: block;
    }

  .reservas__title{
     position: sticky;
     top: 0;
     margin-bottom: 120px;

        @include media900px {
          position: inherit;
          margin-bottom: 5rem;
          top: 0;
        }


       h2{
      text-align: left;
      font-family: $aktiv;
      color: $brown;
      font-size: 2.5rem;
      letter-spacing: -3px;
      font-weight: 200;
      text-transform: uppercase;
      margin-bottom: 3rem;
      line-height: 3rem;
      margin-top: 60px;

      position: sticky;
      top: 150px;

     @include media900px {
      position: inherit;
      top: none;
    }

      
  }

  p{
    font-family: $aktiv;
    color: $brown;
    font-size: 0.9rem;
    letter-spacing: -0.5px;
    font-weight: 200;
    line-height: 1.2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: justify;
    max-width: 50vw;
    width: 400px;

    position: sticky;
    top: 280px;

    @include media900px {
      width: 100%;
      max-width: 100%;
      position:inherit;
      top: none;
    }
  }

  .button{
    position: sticky;
    top: 340px;

         @include media900px {
      position:inherit;
      top: none;
    }
  }
  }


}

.calendly-inline-widget{
  width: 50vw;
  max-width: 700px;
  height: 1700px;

        @include media1300px {
      height: 1850px;
    }

      @include media900px {
      height: 1900px;
      width: 100%;
      max-width: 100%;
    }

     @include media500px {
      height: 2100px;
    }

    @include media390px {
      height: 2400px;
    }
}




//DUDAS

.dudas__master{
  background-color: $beige;
  display: flex;
  justify-content: space-between;
  margin-left: 3vw;
  margin-right: 3vw;
  padding: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  max-width: 1400px;
    margin-left: auto;
  margin-right: auto;

    @include media600px {
      display: block;
    }

  h3{
     text-align: left;
      font-family: $aktiv;
      color: $brown;
      font-size: 1.3rem;
      letter-spacing: -1px;
      font-weight: 200;
      text-transform: uppercase;
      margin-top: 10px;

        @include media600px {
        margin-bottom: 15px;
      }
  }
}




//DETALLES

.detalles__master{
  margin-top: 200px;
  padding-left: 3vw;
  padding-right: 3vw;
  max-width: 1400px;
    margin-left: auto;
  margin-right: auto;

  h2{
      text-align: left;
      font-family: $aktiv;
      color: $brown;
      font-size: 2.5rem;
      letter-spacing: -3px;
      font-weight: 200;
      text-transform: uppercase;
      margin-bottom: 3rem;
      line-height: 3rem;
    }

    .detalles__cubo{
      background-color: $brown;
      width: 330px;
      min-height: 400px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition:  0.3s ease-in-out;

         @include media500px {
          width: auto;
          padding: 3vw;
        }

        &:hover{
          background-color: $beige;
          transition:  0.3s ease-in-out;
        } &:hover h3{
          color: $brown;
          transition:  0.3s ease-in-out;
        } &:hover p{
          color: $brown;
          transition:  0.3s ease-in-out;
        } 

      h3{
      text-align: left;
      font-family: $aktiv;
      color: $white;
      font-size: 1.5rem;
      letter-spacing: -1px;
      font-weight: 200;
      text-transform: uppercase;
      margin-top: 10px;
      }

      .detalles__logo{
        width: 230px;
      }

      p{
        font-family: $aktiv;
        color: $white;
        font-size: 0.9rem;
        letter-spacing: -0.5px;
        font-weight: 200;
        line-height: 1.2rem;
        text-transform: uppercase;
        text-align: justify;
        max-width: 50vw;

          @include media500px {
          max-width: 90%;
          width: auto;
          font-size: 0.9rem;
          letter-spacing: -0.2px;
          }
      }
    }
}



.button__cierre{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}